@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Cinzel+Decorative&family=Luckiest+Guy&family=Special+Elite&family=Roboto&family=Ubuntu+Mono:ital@1&display=swap');

/* Elementos Estruturais */

body {
    background-color: indigo;
}

div#interface{
    width: 1180px;
    margin: auto;
}

header{
    background-image: linear-gradient(to top, rgba(255,255,0,0.3), rgba(0,0,255,0.1)), url(../_imagens/animes.jpg);
    box-shadow: 3px 3px 5px black;
    padding: 10px;
}

main {
    background-color: gray;
    box-shadow: 3px 3px 5px black;
    padding: 10px;
}

section#artigos {
    display: block;
    width: 700px;
}

footer {
    clear: both;
    border-top: 3px solid black;
}


/* Elementos de Textos*/

header#cabecalho h1 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 32px;
    text-align: right;
    color: whitesmoke;
    text-shadow: black;
    margin-bottom: 0px;
}

header#cabecalho h2 {
    font-family: 'Audiowide', cursive;
    font-size: 24px;
    text-align: right;
    color: black;
    margin-top: 0px;
}

h3 {
    font-family: 'Special Elite', cursive;
    font-size: 24px;
    text-align: left;
    color: green;
}

h4 {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 24px;
    text-align: left;
    color: darkblue;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: justify;
    color: black;
}

/* Elementos de imagem */

figure.imagens {
    position: relative;
    border: 3px solid darkred;
    box-shadow: 1px 1px 3px black;
}

figure.imagens img {
    width: 100%;
    height: 100%;
}

figure.imagens figcaption {
    opacity: 0;
    transition: opacity 1s;
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,.3);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 24px;
    text-align: end;
}

figure.imagens:hover figcaption {
    opacity: 1;
}

/* Elementos de Menu */

nav#menu {
    display: block;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -5px;
    right: 3px;
}

nav#menu li {
    display: inline;
    background-color: black;
    padding: 5px;
    margin: 1px;
}

nav#menu h1 {
    display: none;
}

nav#menu a{
    font-family: 'Luckiest Guy', cursive;
    color: white;
    text-decoration: none;
}

nav#menu li:hover {
    background-color: white;
}

nav#menu a:hover{
    color: black;
}
