/* Elementos Estruturais */
#artigos {
    display: block;
    border-right: 5px solid black;
}

#lateral_ad {
    display: block;
    margin-top: 1.75rem;
}

/* Elementos de texto */
#main-content-title {
    font-family: 'Special Elite';
    font-size: 2.15rem;
    color: #FF3333;
    text-shadow: 1px 1px 1px #FF1111;
    text-align: initial;

    margin: auto;
    padding: auto;
    width: 70%;
    background-color: #FAFAFA;
}

.main-element-content-title h4{
    font-family: 'Ubuntu Mono';
    font-size: 2rem;
    color: #606060;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
    text-align: center;

    margin: auto;
}

/* Elementos de imagem */

figure.imagens {
    position: relative;
    box-shadow: 1px 1px 1px #000;
}

figure.imagens img {
    width: 100%;
    height: 100%;

}

figure.imagens figcaption {
    opacity: 0;
    transition: opacity 1s;
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,.5);
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1.5rem;
    text-align: end;
}

figure.imagens:hover figcaption {
    opacity: 1;
}

/* Elementos de Tabela */

#calendario {
    margin: auto;
    border-spacing: 0.1rem;
}

#calendario td {
    padding: 0.1em;
    margin-top: 0.3rem;
}

#calendario .ce {
    font-family: 'Special Elite';
    font-size: 1.5rem;
    color: #F0000F;
    background-color: #0A0A0A;
    text-align: center;
}

#calendario .cd {
    font-family: 'Roboto';
    font-size: 1.25rem;
    font-weight: 700;
    color: #FF00FF;
    background-color: #FAFAFA;
}

#calendario caption {
    font-family: 'Ubuntu Mono';
    font-size: 2rem;
    color: #FFFF00;
}