@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Cinzel+Decorative&family=Luckiest+Guy&family=Special+Elite&family=Roboto&family=Ubuntu+Mono:ital@1&display=swap');

/* Structural Elements */
*{
    margin: 0;
    padding: 0;
}

:root{
    --background-body: #48225C;
    --background-main: #FA4812;
    --background-div: #961C06;
    --header-h1: #C7FCD2;
    --header-h2: #DBEDAC;
    --main-h3: #7C01F8;
    --main-h4: #DF6234;
    --main-p: #942810;
    --footer-p: #A0A607;
    --link: #F9A72C;
    --menu-txt1: #DDC732;
    --menu-txt2: #572A74; 
    --menu-background1: #214CDB;
    --menu-background2: #02731B;
    
    font-size: 0.625rem;
}

body{
    background-color: var(--background-body);
}

#container {
    display: grid;
    grid-template-rows: auto 2fr 1fr auto;

    width: 97vw;
    height: 100vh;
    margin: 0px auto;    
}

.display {
    margin: 1px;
}

/* Responsive Design */
@media (min-width: 800px){
    :root{
        font-size: 0.9em;
    }

    #container {
        width: 70vw;

        display: grid;
        grid-template: 
        "header header" auto
        "content complement" 1fr
        "footer footer" auto
        / 3fr minmax(250px, 25%);
    }
    
    .header {
        grid-area: header;
    }
    
    .content {
        grid-area: content;
    }
    
    .complement {
        grid-area: complement;
    }
    
    .footer {
        grid-area: footer;
    }
}

/* Header */
#header-content {
    background-image: linear-gradient(rgba(0, 0, 255, 0.3), rgba(255, 255, 0, 0.3)), url(../_images/_animes/animes.jpg);
    box-shadow: 3px 3px 5px var(--background-div);
    padding: 10px;

    display: block;
    text-align: end;
}

#header-content h1{
    color: var(--header-h1);
    font-weight: 900;
    font-size: 3em;    
    font-family: 'Cinzel Decorative';
    text-shadow:  1px 1px 1px var(--background-div);
    margin: -0.3em 0em;
}

#header-content h2 {
    color: var(--header-h2);
    font-weight: 900;
    font-size: 2em;
    font-family: 'Audiowide';
    text-shadow:  1px 1px 1px var(--background-div);
    margin-top: 1px;
}

#menu {
    display: inline;
}

#menu ul {
    list-style: none;
    text-transform: uppercase;
}

#menu li {
    display: inline;
    font-size: 1.75em;
    background-color: var(--menu-background1);
    padding: 2px;
    margin: 1px;
}

#menu a {
    font-family: 'Luckiest Guy';
    color: var(--menu-txt1);
    text-decoration: none;
}

#menu li:hover {
    background-color: var(--menu-background2);
}

#menu a:hover{
    color: var(--link);
}

/* Footer Text */
.footer-text {
    font-family: 'Roboto';
    font-size: 1.5rem;
    color: #AAAA00;
}

.footer-references {
    font-family: 'Roboto';
    font-size: 1.5rem;
    color: var(--footer-p);
    text-decoration: none;
}

/* Ad image */
#img-ad {
    width: 100%;
}

@media (min-width: 800px){
    #img-ad {
        margin-top: 1.25rem;
    }
}