@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Cinzel+Decorative&family=Luckiest+Guy&family=Special+Elite&family=Roboto&family=Ubuntu+Mono:ital@1&display=swap');

/* Elementos Estruturais */

body {
    background-color: indigo;
}

main {
    background-color: gray;
    box-shadow: 3px 3px 5px black;
    padding: 10px;
}

div#interface{
    width: 75em;
    margin: auto;
}

header{
    background-image: linear-gradient(to top, rgba(255,255,0,0.3), rgba(0,0,255,0.1)), url(../_imagens/animes.jpg);
    box-shadow: 3px 3px 5px black;
    padding: 10px;
}

footer {
    clear: both;
    border-top: 3px solid black;
}

/* Elementos de Textos*/

header#cabecalho h1 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 32px;
    text-align: right;
    color: whitesmoke;
    text-shadow: black;
    margin-bottom: 0px;
}

header#cabecalho h2 {
    font-family: 'Audiowide', cursive;
    font-size: 24px;
    text-align: right;
    color: black;
    margin-top: 0px;
}

/* Elementos de Menu */

nav#menu {
    display: block;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -5px;
    right: 22em;
}

nav#menu li {
    display: inline;
    background-color: black;
    padding: 5px;
    margin: 1px;
}

nav#menu h1 {
    display: none;
}

nav#menu a{
    font-family: 'Luckiest Guy', cursive;
    color: white;
    text-decoration: none;
}

nav#menu li:hover {
    background-color: white;
}

nav#menu a:hover{
    color: black;
}